body {
    font-family: 'arial',sans-serif;
    font-size: 20px;
    color: black;
}

.section-block {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(153, 154, 177); 
}

.center{
    text-align: center;
}

.meu-botao {
    display: inline-block; 
    padding: 10px 20px; 
    border: 1px solid black;
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
    cursor: pointer; 
    text-decoration: none;
    color: #000000;
    margin-left: 30px;
}

.meu-botao:hover{
    transform: scale(1.1);
    background-color: rgb(63,72,204);
}

.p{
    text-align: center;
}
